
*,
*::после,
*::до {
  :рамка-размер рамки-рамка;
}

тело {
  23 px : размер шрифта;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  0:  маржа;
}

ул {
  : тип в стиле списка отсутствует;
}

.контейнер {
  100% : максимальная ширина;
  0:  автоматическое удаление полей;
}

.название {
  0 10  пикселей:  отступ;
  23 px : размер шрифта;
}

.главная {
  : гибкий дисплей;
  : колонка с гибким направлением;
}

/* Хедр */

.заголовок {
  rgb:  цвет фона (252,129,58  );
  100% : ширина;
}

.заголовок__внутренний {
  : гибкий дисплей;
  :выровнять-элементы по центру;
  20 пикселей  0 20  пикселей : отступ;
}

.логотип__img {
  50 пикселей : поле справа;
}

/* Навигация */
.навигация {
  20 пикселей : верхнее поле;
  rgb:  цвет фона (252,129,58  );
  800 пикселей : максимальная ширина;
  0:  автоматическое удаление полей;
}

.nav__список {
  : гибкий дисплей;
  : обосновать-центр контента;
  0 пикселей : поле-внизу;
  10 пикселей : отступ;
}

.nav__элемент:нет(: последний дочерний элемент) {
  20 пикселей : поле справа;
}

.nav__ссылка {
  #000 : цвет;
  :оформление текста отсутствует;
}

/* Ссылки */

.гиперссылки {
  1.  порядок;
  20 пикселей : верхнее поле;
}

.гиперссылки__внутренние {
  800 пикселей : максимальная ширина;
  0:  автоматическое удаление полей;
  40 пикселей  0 : отступ;
  rgb:  цвет фона (252,129,58  );
}

.гиперссылки__список {
  0 10  пикселей:  отступ;
  0:  маржа;
}

.гиперссылки__элемент:нет(: последний дочерний элемент) {
  20 пикселей : поле-внизу;
}

.гиперссылки__ссылка {
  #000 : цвет;
  :оформление текста отсутствует;
}

.гиперссылки__изображение {
  250 пикселей : максимальная ширина;
  250 пикселей : максимальная высота;
}

/* Стили таблицы */

.таблица {
  2.  порядок;
}

.таблица __внутренняя {
  :оформление текста отсутствует;
  800 пикселей : максимальная ширина;
  100% : ширина;
  0:  автоматическое удаление полей;
  :граница-коллапс свернуть;
}

.таблица__название {
  : гибкий дисплей;
  : обосновать-центр контента;
}

.таблица__tr: n-й дочерний элемент(четный) {
  rgb:  цвет фона (255,0,149  );
}

.таблица __td {
  2 px  10 px : отступы;
  10 px : размер шрифта;
  #000000 :цвет;
  13 пикселей : высота строки;
  1 пиксель : сплошная граница #000000;
}

/* Форма */

.контакты {
  3.  порядок;
  20 пикселей : верхнее поле;
}

.контакты__внутренний {
  800 пикселей : максимальная ширина;
  0:  автоматическое удаление полей;
  rgb:  цвет фона (80,47,172  );
}

.контакты__форма {
  :выравнивание текста по центру;
  0:  автоматическое удаление полей;
  320 пикселей : максимальная ширина;
}

.контакты__ввод {
  200 пикселей : ширина;
  :границы нет;
  10 пикселей : поле-внизу;
}

.контакты__btn {
  10 пикселей : поле-внизу;
  40 пикселей : поле справа;
}

.форма __текст {
  10 пикселей : поле-внизу;
}

.форма __область {
  300 пикселей : ширина;
  150 пикселей : высота;
  :изменить размер нет;
}

/* Подвал */

.нижний колонтитул {
  : гибкий дисплей;
  100% : ширина;
  20 пикселей : верхнее поле;
  rgb:  цвет фона (80,47,172  );
}

.нижний колонтитул__копия {
  40 пикселей  0 40  пикселей : отступ;
}



@медиа (максимальная ширина:  420 пикселей){
 .nav__список{
    : колонка с гибким направлением;
    :обоснование-начало содержимого;
  }
 .таблица{
    3.  порядок;
  }
 .контакты{
    2.  порядок;
  }
}